.footer {
  /* color: white;
  position: fixed;
  font-size: 13px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin: auto;
  bottom: 6px;
  width: 100%; */
  grid-row-start: 2;
  grid-row-end: 3;
  color: white;
  font-size: 13px;
  margin: auto;
  width: 100%;
  height: 30px;
  line-height: 15px;
}
