.comical-site-modal {
  z-index: 9999;
}

.comical-site-modal-content {
  overflow-wrap: break-word;
  background-color: #282c34 !important;
  color: white !important;
  text-align: left;
}

.comical-site-modal-close {
  cursor: pointer;
}

.comical-site-modal-close:hover {
  
}
