.comical-strip-wrap {

}

.comical-strip {
  /* max-height: 650px; */
  max-height: 87vh;
  max-width: 100%;
}

@media only screen and (min-width: 800px) {
  .comical-strip {
    transition: transform .5s ease;
  }
  
  .comical-strip:hover {
    transform: scale(1.5);
    overflow-y: auto;
  }
}
